<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ProyectoRRHH.My.MySettings.DB_RRHHConnectionString"
            connectionString="Data Source=.;Initial Catalog=DB_RRHH;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="ProyectoRRHH.My.MySettings.BD_RecursosHumanosConnectionString"
            connectionString="Data Source=.;Initial Catalog=BD_RecursosHumanos;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>